* {
  margin: 0;
  font-family: 'Bonbon', cursive;
  box-sizing: border-box; }

.contenedor--principal {
  background: #2e0030;
  background: linear-gradient(90deg, rgba(46, 0, 48, 0.770746) 0%, rgba(98, 3, 77, 0.622286) 47%, rgba(142, 1, 34, 0.68111) 100%);
  width: 100%;
  height: 100%;
  display: flex; }
  .contenedor--principal .contenedor__logo--principal {
    width: 15%; }
    .contenedor--principal .contenedor__logo--principal .contenedor__logotipo--principal {
      width: 90%;
      margin: auto; }
  .contenedor--principal .contenedor__nav--pricipal {
    width: 100%;
    margin: 1.5%; }

footer .redSocial--principal {
  text-align: center;
  background-color: #70096d;
  display: block;
  grid-column: 1 / 5;
  color: white;
  text-decoration: none;
  font-weight: bold; }
  footer .redSocial--principal .redSocial__facebook--principal {
    background-color: #70096d;
    text-decoration: none;
    color: #e1d5e0;
    font-weight: bold; }

.contenedor__titulosDos--principal {
  text-align: center;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  color: white;
  font-size: 2.5rem;
  margin: 0; }

.contenedor__marca--principal {
  text-align: center;
  background-color: whitesmoke; }

.contenedor__parrafoInformativo--main, .informacionTurnos {
  font-family: 'Bonbon', cursive;
  text-align: center;
  overflow: auto;
  font-weight: bold;
  display: inline; }
  .contenedor__parrafoInformativo--main .contenedor__span--main, .informacionTurnos .contenedor__span--main {
    text-transform: uppercase;
    color: blanchedalmond; }

.resaltarSpan {
  font-size: 105%;
  color: #6d00a0; }

.contenedor--cajaDeCombos img {
  height: 100%;
  width: 100%;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: 3; }

.contenedor--cajaDeCombos div img {
  height: 10rem;
  width: 20rem;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 3px 3px 10px 3px #b52222;
  justify-content: space-evenly; }

.contenedor--cajaDeCombos #contenedor__combos p {
  font-size: 20px;
  color: #5f0a87; }

.contenedor--cajaDeCombos #contenedor__combos h3 {
  color: #e23b80; }

.container--carusel {
  width: 100%;
  display: flex;
  padding: 3% 0 3% 0;
  background: white;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.513043) 0%, #f6aed7 13%, #fcc4e5 40%, #fef7fb 74%, #fee7f4 100%, rgba(255, 255, 255, 0.426208) 100%); }
  .container--carusel .container {
    width: 100%;
    margin: 0 1% 0 1%; }
    .container--carusel .container img {
      border-radius: 100%;
      box-shadow: 3px 3px 10px 3px rgba(189, 103, 247, 0.719);
      width: 90%;
      margin: 5%; }

.contenedor--marcas {
  display: flex; }
  .contenedor--marcas .row {
    width: 80%;
    margin: auto;
    padding: 2% 5% 2% 5%; }
    .contenedor--marcas .row img {
      width: 5%; }

.contenedor__titulo--principal {
  text-align: center;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  color: white;
  font-size: 3rem; }

.carousel-control-prev-icon {
  background-color: #6c03ce; }

.carousel-control-next-icon {
  background-color: #6c03ce; }

.white {
  color: white;
  font-size: 20px; }

.blue {
  color: blue;
  font-size: 20px; }

.yellow {
  color: yellow;
  font-size: 20px; }

.black {
  color: black;
  font-size: 20px; }

.informacionTurnos {
  padding: 0 10px; }

.contenedor__informacion--main {
  background-color: #fffefe;
  display: flex;
  width: 100%; }
  .contenedor__informacion--main .contenedor__perfil--main {
    width: 70%;
    box-shadow: 3px 3px 10px 3px rgba(189, 103, 247, 0.719);
    margin: 3% 7% 3% 0%; }
    .contenedor__informacion--main .contenedor__perfil--main img {
      width: 100%; }
  .contenedor__informacion--main .contenedor__parrafoTarjeta--main {
    box-shadow: 3px 3px 10px 3px rgba(189, 103, 247, 0.719);
    width: 70%;
    margin: 3% 0 3% 7%;
    background: #2e0030;
    background: linear-gradient(90deg, rgba(46, 0, 48, 0.538253) 0%, rgba(54, 14, 45, 0.367384) 49%, rgba(240, 12, 66, 0.468225) 100%); }
  .contenedor__informacion--main p {
    margin: 5%;
    text-align: center;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.904); }
    .contenedor__informacion--main p .contenedor__mensajeImportante--main {
      color: #5f0a87;
      font-weight: bold; }

.contenedor__productos--mainCompras {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  overflow: hidden; }
  .contenedor__productos--mainCompras .productos {
    width: 330px;
    height: 330px;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: white; }
    .contenedor__productos--mainCompras .productos img {
      display: block;
      position: relative;
      border-radius: 8px;
      width: 100%;
      height: 100%; }
    .contenedor__productos--mainCompras .productos .textoHover {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 0;
      right: 0;
      height: auto;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      border-radius: 8px;
      background-color: #f86bf8da;
      display: flex;
      align-items: center;
      flex-direction: column; }
      .contenedor__productos--mainCompras .productos .textoHover p {
        margin: 10px; }
      .contenedor__productos--mainCompras .productos .textoHover span {
        font-size: 30px;
        margin-top: 15px; }
      .contenedor__productos--mainCompras .productos .textoHover:hover {
        opacity: .9; }
      .contenedor__productos--mainCompras .productos .textoHover button {
        border: none;
        border-radius: 5px;
        width: 80%;
        height: 30px;
        font-size: 20px;
        background-color: #ffffff;
        outline: 0;
        cursor: pointer;
        position: absolute;
        bottom: 20px; }
        .contenedor__productos--mainCompras .productos .textoHover button:hover {
          background-color: #7026a181;
          box-shadow: inset 0px 0px 6px;
          border: none;
          color: #000000;
          opacity: 1;
          font-weight: bold;
          text-transform: uppercase;
          transition: background-color 0.4s ease-out; }

.footer--total {
  border-top: 2px solid #2f0361;
  background-color: #bb8eee;
  color: #080808; }

.footer__columnas {
  width: 25%;
  display: inline-flex;
  padding: 2%;
  margin: 2%; }
  .footer__columnas ul li {
    list-style: none; }
    .footer__columnas ul li a {
      text-decoration: none;
      color: #181818; }
      .footer__columnas ul li a:hover {
        font-weight: bold; }

.red {
  display: inline; }
  .red .footer-imagen {
    width: 50px;
    height: auto; }

.final {
  width: 100%; }

.footer__redes {
  display: inline; }

.derechos {
  background-color: black;
  text-align: center; }

.formulario {
  margin: 1% 1%; }
