*{
    margin: 0;
    font-family: 'Bonbon', cursive;
    box-sizing: border-box;
}
.contenedor--principal{
        background: rgb(46,0,48);
        background: linear-gradient(90deg, rgba(46,0,48,0.7707457983193278) 0%, rgba(98,3,77,0.6222864145658263) 47%, rgba(142,1,34,0.6811099439775911) 100%);
        width: 100%;
        height: 100%;
        display: flex;
        .contenedor__logo--principal{
            width: 15%;
                .contenedor__logotipo--principal{   
                    width: 90%;
                    margin: auto;
        }
    }
    .contenedor__nav--pricipal{
        width: 100%;
        margin: 1.5%;
    }
}

footer{
    .redSocial--principal{
        text-align: center;
        background-color: rgb(112, 9, 109);
        display: block;
        grid-column: 1 / 5;
        color: white;
        text-decoration: none;
        font-weight: bold;
        .redSocial__facebook--principal{
            background-color:rgb(112, 9, 109) ;
            text-decoration: none;
            color: rgb(225, 213, 224);
            font-weight: bold;
        }
    }
}
.contenedor__titulosDos--principal{
    text-align: center;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    color: white;
    font-size: 2.5rem;
    margin: 0;
}
.contenedor__marca--principal{
        text-align: center;
        background-color: rgb(245, 245, 245);
    }

.contenedor__parrafoInformativo--main{
    font-family: 'Bonbon', cursive;
    text-align: center;
    overflow: auto;
    font-weight: bold;
    display: inline;
    .contenedor__span--main{
        text-transform: uppercase;
        color: blanchedalmond;
    }
}

.resaltarSpan{
    font-size: 105%;
    color: rgb(109, 0, 160);
}
.contenedor--cajaDeCombos{
    img{
        height: 100%;
        width: 100%;
        animation-duration: 5s;
        animation-delay: 2s;
        animation-iteration-count: 3;
    }
    div img{
        height: 10rem;
        width: 20rem;
        border-radius: 10px;
        margin: 10px;
        box-shadow: 3px 3px 10px 3px rgb(181, 34, 34);
        justify-content: space-evenly; 
    }
    #contenedor__combos {
        p{
        font-size: 20px;
        color:#5f0a87;
    }
        h3{
            color: rgb(226, 59, 128);
        }
    }
}

.container--carusel{
    width: 100%;
    display: flex;
    padding: 3% 0 3% 0;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.5130427170868348) 0%, rgba(246,174,215,1) 13%, rgba(252,196,229,1) 40%, rgba(254,247,251,1) 74%, rgba(254,231,244,1) 100%, rgba(255,255,255,0.42620798319327735) 100%);
        .container{
            width: 100%;
            margin: 0 1% 0 1%;
                img{
                    border-radius:100%;
                    box-shadow: 3px 3px 10px 3px rgba(189, 103, 247, 0.719);
                    width: 90%;
                    margin: 5%;
        }
    }
}

.contenedor--marcas{
    display: flex;
    .row{
        width: 80%;
        margin: auto;
        padding: 2% 5% 2% 5%;
            img{
                width: 5%;
         }
    }
}

$titulo:rosa;
.contenedor__titulo--principal{
    @if $titulo == rosa {
        text-align: center;
        background-color: #a4508b;
        background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
        color: white;
        font-size: 3rem;
    }@else if $titulo == negro {
        text-align: center;
        background-color: #070607;
        background-image: linear-gradient(326deg, #f3f0f2 0%, #030303 74%);
        color: white;
        font-size: 3rem;
    }@else if $titulo == naranja{
        text-align: center;
        background-color: #070606;
        background-image: linear-gradient(326deg, #5c5e07 50%, #f75a00 50%);
        color: rgb(2, 134, 20);
        font-size: 3rem;
    }@else {
        text-align: center;
        background-color: #070607;
        background-image: linear-gradient(326deg, #e61da3be 0%, #fd0606 74%);
        color: rgb(7, 7, 7);
        font-size: 3rem;
    }
}
.carousel-control-prev-icon{
    background-color: rgb(108, 3, 206);
}
.carousel-control-next-icon{
    background-color: rgb(108, 3, 206);
}

@each $color in white, blue, yellow, black{
    .#{$color}{
        color:#{$color};
        font-size: 20px;
    }
}
.informacionTurnos{
    @extend .contenedor__parrafoInformativo--main;
    padding: 0 10px;
}

.contenedor__informacion--main{
    background-color: rgb(255, 254, 254);
    display: flex;
    width: 100%;
    .contenedor__perfil--main{
        width: 70%;
        box-shadow: 3px 3px 10px 3px rgba(189, 103, 247, 0.719);
        margin: 3% 7% 3% 0%;
        img{
            width: 100%; 
        }
    }
    .contenedor__parrafoTarjeta--main{
            box-shadow: 3px 3px 10px 3px rgba(189, 103, 247, 0.719);
            width: 70%;
            margin: 3% 0 3% 7%;
            background: rgb(46,0,48);
            background: linear-gradient(90deg, rgba(46,0,48,0.5382528011204482) 0%, rgba(54,14,45,0.36738445378151263) 49%, rgba(240,12,66,0.4682247899159664) 100%);
}
    p{
        margin: 5%;
        text-align: center;
        font-size: 25px;
        color: rgba(255, 255, 255, 0.904);
            .contenedor__mensajeImportante--main{
                color:#5f0a87;
                font-weight: bold;
            }
    }
}
.contenedor__productos--mainCompras {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
	overflow: hidden;	
	.productos{
		width: 330px;
		height: 330px;
		border-radius: 8px;
		margin: 20px;
		text-align:center;
		position:relative;
		overflow: hidden;
		color:white;
		img{
			display:block;
			position: relative;
			border-radius: 8px;
			width: 100%;
			height: 100%;
		}
		.textoHover{
			position: absolute;
			top: 0px;
			bottom: 0;
			left: 0;
			right: 0;
			height: auto;
			width: 100%;
			opacity: 0;
			transition: .5s ease;
			border-radius: 8px;
			background-color: #f86bf8da;
			display:flex;
			align-items: center;
			flex-direction: column;
			p{
				margin: 10px;
			}
			span{
				font-size: 30px;
    			margin-top:15px;
			}
			&:hover{
				opacity: .9;
			}
			button{
				border:none;
				border-radius: 5px;
				width: 80%;
				height: 30px;
				font-size: 20px;
				background-color: #ffffff;
				outline: 0;
				cursor:pointer;
				position:absolute;
				bottom: 20px;
				&:hover{
					background-color: #7026a181;
					box-shadow: inset 0px 0px 6px;
					border:none;
					color:#000000;
					opacity: 1;
					font-weight: bold;
					text-transform: uppercase;
					transition: background-color 0.4s ease-out;
				}
			}
		}
	}
}
.footer--total {
	border-top: 2px solid rgb(47, 3, 97);
	background-color: #bb8eee;
    color: rgb(8, 8, 8);
}
.footer__columnas {
    width: 25%;
    display: inline-flex;
    padding: 2%;
    margin: 2%;
	ul {
		li {
			list-style: none;
			a {
				text-decoration: none;
				color: rgb(24, 24, 24);
				&:hover {
					font-weight: bold;
				}
			}
		}
	}
}
.red{
    display: inline;
        .footer-imagen {
	        width: 50px;
	        height: auto;
    }
}
.final{
    width: 100%;
}
.footer__redes{
    display: inline;
}
.derechos{
    background-color: black;
    text-align: center;
}
.formulario{
    margin: 1% 1%;
}